body{
	background-image: url("https://a-static.besthdwallpaper.com/battlefield-1-igra-poslevoennoe-unichtozhenie-oboi-3840x2160-16519_54.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#AFEEEE; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
}
a.menu {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#AFEEEE; /*добавляем фон к пункту меню*/
  color:#000000; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block;
  border-top: 1px solid #677B27;
  border-right: 1px solid #677B27; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#808080;/*добавляем эффект при наведении*/
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
}
     
    /*Стили для скрытого выпадающего меню*/
    li > ul {
        position:absolute;
        top:25px;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    li:hover > ul {
        display:block; 
        width:250px;  /*Задаем ширину выпадающего меню*/      
    }
   li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }

.osn{
	background-color: white;
  	width:65%;
  	margin-left:20%;
  	color:black;
  	border: 1px solid black;
  	border-radius: 6px; 
  	margin-left: 17%;
  	margin-top: 1%;
}

.spisok{
  background-color: white;
    width:23%;
    color:black;
    border: 1px solid black;
    border-radius: 6px; 
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
}

.footer{
	position: relative;
	left: 0; bottom: 0;
	padding: 10px;
	background: white;
	color: black;
	width: 100%;
	border: 1px solid black;
}

.card {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    overflow: auto;
    margin: 3px;
    padding: 2%;
}

a{
  text-decoration: none;
}

a.but{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif; 
  color: #fe6637;
  transition: .2s ease-in-out;
}

a.but:before{
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

a.but:hover {
  background: #fe6637;
  color: #fff;
}

a.but:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}
